# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages for Data Science
- Commonly used libraries by Data Scientist
- Data science Tools
- Examples of Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlab
3. Numpy
4. Keras

| Data Science Tools |
|-----------|
| Tensorflow |
| Matlab |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##

Jayasree Perneti